@model IEnumerable<WebBooking.Models.DB.Room>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DANH SÁCH PHÒNG</h2>
<form action="@Url.Action("TimKiem", "Phong")" method="get">
    <input type="text" name="searchTerm" placeholder="Nhập từ khóa tìm kiếm" />
    <button type="submit">Tìm kiếm</button>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.categoryname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roomname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maxpeople)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.categoryname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.image)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maxpeople)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.roomid }) |
                @Html.ActionLink("Booking", "Booking", new { id = item.roomid })
            </td>
        </tr>
    }

</table>
