@model IEnumerable<WebBooking.Models.DB.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="gdlr-header-substitute">
</div>
<!-- is search -->
<div class="content-wrapper">
    <div class="gdlr-content">

        <!-- Above Sidebar Section-->
        <!-- Sidebar With Content Section-->
        <div class="with-sidebar-wrapper">
            <section id="content-section-1">
                <div class="gdlr-full-size-wrapper gdlr-show-all" style="padding-bottom: 0px;  background-color: #ffffff; ">
                    <div class="gdlr-master-slider-item gdlr-slider-item gdlr-item" style="margin-bottom: 0px;">
                        <!-- MasterSlider -->
                        <div id="P_MS5af5c0e887f3f" class="master-slider-parent ms-parent-id-2">


                            <!-- MasterSlider Main -->
                            <div id="MS5af5c0e887f3f" class="master-slider ms-skin-default">

                                <div class="ms-slide" data-delay="7" data-fill-mode="fill">
                                    <img src="~/Content/assets/images/slider/slider1.jpg" />
                                    <div class="ms-layer  msp-cn-1-1" style="" data-duration="862" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-117" data-origin="mc" data-position="normal">
                                        Chào mừng tới
                                    </div>
                                    <div class="ms-layer  msp-cn-1-3" style="width:48px;height:2px;" data-duration="775" data-delay="525" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-61" data-origin="mc" data-position="normal">
                                    </div>
                                    <div class="ms-layer  msp-cn-1-2" style="" data-effect="t(true,n,n,-500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="712" data-delay="975" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="7" data-origin="mc" data-position="normal">
                                        Hotel MEOQ
                                    </div>
                                </div>
                                <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                                    <img src="~/Content/assets/images/slider/slider8.jpg" />
                                </div>
                                <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                                    <img src="~/Content/assets/images/slider/slider9.jpg" />
                                </div>
                            </div>
                            <!-- END MasterSlider Main -->
                        </div>
                        <!-- END MasterSlider -->
                    </div>
                    <div class="clear"></div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </section>
            <section id="content-section-2">
                <div class="clear"></div>
            </section>
            <section id="content-section-3">
                <div class="gdlr-color-wrapper  gdlr-show-all no-skin" style="background-color: #0a0a0a; padding-top: 60px; ">
                    <div class="container">
                        <div class="four columns">
                            <div class="gdlr-ux column-service-ux">
                                <div class="gdlr-item gdlr-column-service-item gdlr-type-2">
                                    <div class="column-service-image"><img src="~/Content/assets/images/about/about4.jpg" alt="" width="500" height="257"></div>
                                    <div class="column-service-content-wrapper">
                                        <h3 class="column-service-title">HOÀN HẢO ĐỂ THƯ GIÃN</h3>
                                        <div class="column-service-divider"></div>
                                        <div class="column-service-content gdlr-skin-content">
                                            <p>Khách sạn có một hồ bơi ngoài trời rộng lớn, nơi khách hàng có thể tắm nắng và thư giãn trong không gian yên tĩnh và xanh mát. Khách sạn cũng có một spa hiện đại và phòng tập thể dục được trang bị đầy đủ các thiết bị thể dục.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="four columns">
                            <div class="gdlr-ux column-service-ux">
                                <div class="gdlr-item gdlr-column-service-item gdlr-type-2">
                                    <div class="column-service-image"><img src="~/Content/assets/images/about/about1.jpg" alt="" width="500" height="257"></div>
                                    <div class="column-service-content-wrapper">
                                        <h3 class="column-service-title">Phòng Sang Trọng</h3>
                                        <div class="column-service-divider"></div>
                                        <div class="column-service-content gdlr-skin-content">
                                            <p>Khách sạn MEOQ có các phòng nghỉ sang trọng với tầm nhìn đẹp, được trang bị đầy đủ tiện nghi hiện đại và cao cấp, đảm bảo mang lại cho khách hàng một trải nghiệm nghỉ dưỡng đầy đủ tiện nghi và thoải mái. Các phòng nghỉ của khách sạn có kiến trúc độc đáo, với cửa sổ to, tạo cảm giác rộng rãi và thoáng mát.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="four columns">
                            <div class="gdlr-ux column-service-ux">
                                <div class="gdlr-item gdlr-column-service-item gdlr-type-2">
                                    <div class="column-service-image"><img src="~/Content/assets/images/about/about3.jpg" alt="" width="500" height="257"></div>
                                    <div class="column-service-content-wrapper">
                                        <h3 class="column-service-title">TỐT NHẤT CHO ĂN UỐNG</h3>
                                        <div class="column-service-divider"></div>
                                        <div class="column-service-content gdlr-skin-content">
                                            <p>Khách sạn MEOQ có các nhà hàng sang trọng và chuyên nghiệp, đảm bảo mang đến cho khách hàng trải nghiệm ẩm thực tuyệt vời trong suốt kỳ nghỉ của mình. Những món ăn được chuẩn bị tại đây đều được làm từ những nguyên liệu tươi ngon và được chế biến bởi đội ngũ đầu bếp chuyên nghiệp.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </section>
            <section id="content-section-4">
                <div class="gdlr-parallax-wrapper gdlr-background-image gdlr-show-all gdlr-skin-light-grey" id="gdlr-parallax-wrapper-1" data-bgspeed="0.1" style="background-image: url('upload/room-bg.jpg'); padding-top: 80px; padding-bottom: 10px; ">
                    <div class="container">
                        <div class="gdlr-item-title-wrapper gdlr-item pos-center gdlr-nav-container ">
                            <div class="gdlr-item-title-head">
                                <h3 class="gdlr-item-title gdlr-skin-title gdlr-skin-border">Phòng Hotel MEOQ</h3>
                                <div class="gdlr-item-title-carousel"><i class="icon-angle-left gdlr-flex-prev"></i><i class="icon-angle-right gdlr-flex-next"></i></div>
                                <div class="clear"></div>
                            </div><a class="gdlr-item-title-link" href="@Url.Action("CacPhong","Phong",new { })">Tất Cả Phòng<i class="fa fa-long-arrow-right icon-long-arrow-right"></i></a>
                        </div>
                        <div class="room-item-wrapper type-modern">
                            <div class="room-item-holder ">
                                <div class="gdlr-room-carousel-item gdlr-item">
                                    <div class="flexslider" data-type="carousel" data-nav-container="room-item-wrapper" data-columns="3">
                                        <ul class="slides">
                                            @foreach (var item in Model)
                                            {
                                                <li class="gdlr-item gdlr-modern-room">
                                                    <div class="gdlr-room-thumbnail"><a href="@Url.Action("Phong", "LoaiPhong", new { @id = item.categoryid },null)"><img style="width:700px; height:300px" src="@item.image" alt="" width="700" height="700"></a></div>
                                                    <h3 class="gdlr-room-title"><a href="@Url.Action("Phong", "LoaiPhong", new { @id = item.categoryid },null)">@item.categoryname</a></h3><a href="@Url.Action("Phong", "LoaiPhong", new { @id = item.categoryid },null)" class="gdlr-room-detail">Xem Chi Tiết Loại Phòng<i class="fa fa-long-arrow-right icon-long-arrow-right"></i></a>
                                                </li>
                                            }
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </section>
            <section id="content-section-5">
                <div class="gdlr-parallax-wrapper gdlr-background-image gdlr-show-all gdlr-skin-dark-skin" id="gdlr-parallax-wrapper-2" data-bgspeed="0.1" style="background-image: url('upload/about-bg.jpg'); padding-top: 160px; padding-bottom: 110px; ">
                    <div class="container">
                        <div class="six columns">
                            <div class="gdlr-title-item">
                                <div class="gdlr-item-title-wrapper gdlr-item pos-center pos-center-divider ">
                                    <div class="gdlr-item-title-head">
                                        <h3 class="gdlr-item-title gdlr-skin-title gdlr-skin-border">THÔNG TIN VỀ CHÚNG TÔI</h3>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="gdlr-item-title-divider"></div>
                                    <div class="gdlr-item-title-caption gdlr-title-font gdlr-skin-info">Những điều về khách sạn chúng tôi</div>
                                </div>
                            </div>
                        </div>
                        <div class="six columns">
                            <div class="gdlr-item gdlr-content-item">
                                <p style="text-align: center;">Khách sạn MEOQ được thiết kế đẹp mắt và hiện đại, với các phòng nghỉ được trang bị đầy đủ tiện nghi sang trọng, mang đến cho du khách một không gian sống đẳng cấp và thoải mái. Ngoài ra, khách sạn còn có các dịch vụ tiện ích như hồ bơi, phòng gym, spa và phòng hội nghị.</p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </section>
            <section id="content-section-6">
                <div class="gdlr-color-wrapper  gdlr-show-all no-skin" style="background-color: #292929; padding-top: 70px; ">
                    <div class="container">
                        <div class="six columns">
                            <div class="gdlr-item-title-wrapper gdlr-item pos-left pos-left-divider ">
                                <div class="gdlr-item-title-head">
                                    <h3 class="gdlr-item-title gdlr-skin-title gdlr-skin-border">NHỮNG BÀI BÁO VỀ CHÚNG TÔI</h3>
                                    <div class="clear"></div>
                                </div>
                                <div class="gdlr-item-title-divider"></div>
                            </div>
                            <div class="blog-item-wrapper">
                                <div class="blog-item-holder">
                                    <div class="gdlr-item gdlr-blog-widget">
                                        <div class="gdlr-ux gdlr-blog-widget-ux">
                                            <article id="post-862" class="post-862 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-fit-row tag-blog tag-link tag-news">
                                                <div class="gdlr-standard-style">
                                                    <div class="blog-date-wrapper gdlr-title-font">
                                                        <span class="blog-date-day">3</span>
                                                        <span class="blog-date-month">Jul</span>
                                                    </div>
                                                    <header class="post-header">
                                                        <h3 class="gdlr-blog-title"><a href="https://toplist.vn/top-list/khach-san-noi-tieng-va-sang-trong-nhat-tai-tphcm-12623.htm">Top 14 khách sạn nổi tiếng và sang trọng nhất tại TP.HCM</a></h3>

                                                        <div style="color:wheat" class="gdlr-blog-excerpt">
                                                            Nếu có dịp vào TP. HCM, bên cạnh việc tham quan những địa điểm du lịch nổi tiếng, bạn sẽ còn choáng ngợp với vẻ xa hoa của các khách sạn tại đây bởi vẻ lộng
                                                            <div class="clear"></div><a href="https://toplist.vn/top-list/khach-san-noi-tieng-va-sang-trong-nhat-tai-tphcm-12623.htm" class="excerpt-read-more">Continue Reading<i class="fa fa-long-arrow-right icon-long-arrow-right"></i></a>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </header>
                                                    <!-- entry-header -->
                                                    <div class="clear"></div>
                                                </div>
                                            </article>
                                            <!-- #post -->
                                        </div>
                                    </div>
                                    <div class="gdlr-item gdlr-blog-widget">
                                        <div class="gdlr-ux gdlr-blog-widget-ux">
                                            <article id="post-859" class="post-859 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-fit-row">
                                                <div class="gdlr-standard-style">
                                                    <div class="blog-date-wrapper gdlr-title-font">
                                                        <span class="blog-date-day">3</span>
                                                        <span class="blog-date-month">Dec</span>
                                                    </div>
                                                    <header class="post-header">
                                                        <h3 class="gdlr-blog-title"><a href="https://www.booking.com/city/vn/ho-chi-minh-city.vi.html">Những khách sạn đẹp nhất trong AppBooking</a></h3>

                                                        <div style="color:wheat" class="gdlr-blog-excerpt">
                                                            Khách sạn đẹp nhất vinh dự nằm trong top 10 của AppBooking...
                                                            <div class="clear"></div><a href="https://www.booking.com/city/vn/ho-chi-minh-city.vi.html" class="excerpt-read-more">Continue Reading<i class="fa fa-long-arrow-right icon-long-arrow-right"></i></a>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </header>
                                                    <!-- entry-header -->
                                                    <div class="clear"></div>
                                                </div>
                                            </article>
                                            <!-- #post -->
                                        </div>
                                    </div>
                                    <div class="gdlr-item gdlr-blog-widget">
                                        <div class="gdlr-ux gdlr-blog-widget-ux">
                                            <article id="post-2211" class="post-2211 post type-post status-publish format-gallery has-post-thumbnail hentry category-blog category-life-style category-news-article tag-blog tag-gallery-thumbnail tag-life-style tag-news post_format-post-format-gallery">
                                                <div class="gdlr-standard-style">
                                                    <div class="blog-date-wrapper gdlr-title-font">
                                                        <span class="blog-date-day">13</span>
                                                        <span class="blog-date-month">Nov</span>
                                                    </div>
                                                    <header class="post-header">
                                                        <h3 class="gdlr-blog-title"><a href="https://www.klook.com/vi/blog/khach-san-o-thanh-pho-ho-chi-minh/">25 Khách Sạn Sài Gòn Cao Cấp Cho Hội Sành Điệu</a></h3>

                                                        <div style="color:wheat" class="gdlr-blog-excerpt">
                                                            Các khách sạn Sài Gòn với “thiết lập” cao cấp sẽ mang đến cho bạn kỳ nghỉ đầy sức sống ở thành phố mang tên Bác. Hãy tham khảo ngay những khách sạn tuyệt vời nhất thành phố Hồ Chí Minh nhé!
                                                            <div class="clear"></div><a href="https://www.klook.com/vi/blog/khach-san-o-thanh-pho-ho-chi-minh/" class="excerpt-read-more">Continue Reading<i class="fa fa-long-arrow-right icon-long-arrow-right"></i></a>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </header>
                                                    <!-- entry-header -->
                                                    <div class="clear"></div>
                                                </div>
                                            </article>
                                            <!-- #post -->
                                        </div>
                                    </div>
                                    <a style="color:antiquewhite; font-size:20px" class="blog-widget-right-text-link" href="#">TẤT CẢ CÁC BÀI BÁO<i class="fa fa-long-arrow-right icon-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="six columns">
                            <div class="gdlr-item-title-wrapper gdlr-item pos-left pos-left-divider ">
                                <div class="gdlr-item-title-head">
                                    <h3 class="gdlr-item-title gdlr-skin-title gdlr-skin-border">NHỮNG HÌNH Ở KHÁCH SẠN</h3>
                                    <div class="clear"></div>
                                </div>
                                <div class="gdlr-item-title-divider"></div>
                            </div>
                            <div class="gdlr-gallery-item gdlr-item">
                                <div class="gallery-column six columns">
                                    <div class="gallery-item"><a href="~/Content/assets/images/Gallery/phong1.jpg" data-fancybox-group="gdlr-gal-1" data-rel="fancybox"><img src="~/Content/assets/images/Gallery/phong1.jpg" alt="" width="400" height="400"></a></div>
                                </div>
                                <div class="gallery-column three columns">
                                    <div class="gallery-item"><a href="~/Content/assets/images/Gallery/phong2.jpg" data-fancybox-group="gdlr-gal-1" data-rel="fancybox"><img src="~/Content/assets/images/Gallery/phong2.jpg" alt="" width="400" height="400"></a></div>
                                </div>
                                <div class="gallery-column three columns">
                                    <div class="gallery-item"><a href="~/Content/assets/images/Gallery/phong3.jpg" data-fancybox-group="gdlr-gal-1" data-rel="fancybox"><img src="~/Content/assets/images/Gallery/phong3.jpg" alt="" width="400" height="400"></a></div>
                                </div>
                                <div class="gallery-column three columns">
                                    <div class="gallery-item"><a href="~/Content/assets/images/Gallery/phong4.jpg" data-fancybox-group="gdlr-gal-1" data-rel="fancybox"><img src="~/Content/assets/images/Gallery/phong4.jpg" alt="" width="400" height="400"></a></div>
                                </div>
                                <div class="gallery-column three columns">
                                    <div class="gallery-item"><a href="~/Content/assets/images/Gallery/phong5.jpg" data-fancybox-group="gdlr-gal-1" data-rel="fancybox"><img src="~/Content/assets/images/Gallery/phong5.jpg" alt="" width="400" height="400"></a></div>
                                </div>
                                <div class="clear"></div>
                                <div class="gallery-column three columns">
                                    <div class="gallery-item"><a href="~/Content/assets/images/Gallery/phong6.jpg" data-fancybox-group="gdlr-gal-1" data-rel="fancybox"><img src="~/Content/assets/images/Gallery/phong6.jpg" alt="" width="400" height="400"></a></div>
                                </div>
                                <div class="gallery-column three columns">
                                    <div class="gallery-item"><a href="~/Content/assets/images/Gallery/phong7.jpg" data-fancybox-group="gdlr-gal-1" data-rel="fancybox"><img src="~/Content/assets/images/Gallery/phong7.jpg" alt="" width="400" height="400"></a></div>
                                </div>
                                <div class="gallery-column three columns">
                                    <div class="gallery-item"><a href="~/Content/assets/images/Gallery/phong8.jpg" data-fancybox-group="gdlr-gal-1" data-rel="fancybox"><img src="~/Content/assets/images/Gallery/phong8.jpg" alt="" width="400" height="400"></a></div>
                                </div>
                                <div class="gallery-column three columns">
                                    <div class="gallery-item"><a href="~/Content/assets/images/Gallery/phong9.jpg" data-fancybox-group="gdlr-gal-1" data-rel="fancybox"><img src="~/Content/assets/images/Gallery/phong9.jpg" alt="" width="400" height="400"></a></div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </section>
            <section id="content-section-7">
                <div class="gdlr-color-wrapper  gdlr-show-all gdlr-skin-dark-testimonial" style="background-color: #1e1e1e; padding-top: 80px; padding-bottom: 45px; ">
                    <div class="container">
                        <div class="gdlr-testimonial-item-wrapper">
                            <div class="gdlr-item-title-wrapper gdlr-item pos-center gdlr-nav-container ">
                                <div class="gdlr-item-title-head">
                                    <h3 class="gdlr-item-title gdlr-skin-title gdlr-skin-border">ĐÁNH GIÁ</h3>
                                    <div class="gdlr-item-title-carousel"><i class="icon-angle-left gdlr-flex-prev"></i><i class="icon-angle-right gdlr-flex-next"></i></div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="gdlr-item gdlr-testimonial-item carousel large plain-style">
                                <div class="gdlr-ux gdlr-testimonial-ux">
                                    <div class="flexslider" data-type="carousel" data-nav-container="gdlr-testimonial-item" data-columns="1">
                                        <ul class="slides">
                                            <li class="testimonial-item">
                                                <div class="testimonial-content gdlr-skin-content">
                                                    <p>Khách sạn là một nơi cung cấp các dịch vụ lưu trú, ẩm thực và các tiện nghi phục vụ du khách, khách hàng hay du học sinh trong thời gian ngắn hạn hoặc dài hạn. Các loại khách sạn phổ biến bao gồm khách sạn cao cấp, khách sạn trung cấp và nhà nghỉ đơn giản.</p>
                                                </div>
                                                <div class="testimonial-info">
                                                    <span class="testimonial-author gdlr-skin-link-color">Lý Kỳ</span><span class="testimonial-position gdlr-skin-info"><span>, </span>Khách du lịch</span>
                                                </div>
                                            </li>
                                            <li class="testimonial-item">
                                                <div class="testimonial-content gdlr-skin-content">
                                                    <p>Việc chọn khách sạn phù hợp với nhu cầu của mình là rất quan trọng trong việc đảm bảo một kỳ nghỉ hoặc chuyến công tác suôn sẻ và thoải mái. Các yếu tố quan trọng để xem xét khi chọn khách sạn bao gồm địa điểm, giá cả, tiện nghi và chất lượng dịch vụ.</p>
                                                </div>
                                                <div class="testimonial-info">
                                                    <span class="testimonial-author gdlr-skin-link-color">Công Thông</span><span class="testimonial-position gdlr-skin-info"><span>, </span>Doanh nhân</span>
                                                </div>
                                            </li>
                                            <li class="testimonial-item">
                                                <div class="testimonial-content gdlr-skin-content">
                                                    <p>Khách sạn cũng có thể cung cấp các hoạt động giải trí và dịch vụ spa, phòng tập thể dục và hồ bơi để giúp khách hàng thư giãn và tận hưởng kỳ nghỉ của mình một cách đầy đủ.</p>
                                                </div>
                                                <div class="testimonial-info">
                                                    <span class="testimonial-author gdlr-skin-link-color">Ngọc Sơn</span><span class="testimonial-position gdlr-skin-info"><span>, </span>Khách du lịch</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </section>
        </div>

        <!-- Below Sidebar Section-->


    </div>
    <!-- gdlr-content -->
    <div class="clear"></div>
</div>
<!-- content wrapper -->
